@font-face {
  font-family: "prstart";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/prstart.ttf");
}

@font-face {
  font-family: "Beon-Medium";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Beon-Medium.woff");
}